@media (min-width: 1200px) {
    .wd-customer-review .review-heading {
        gap: 40px;
    }
  }
  
  
  .wd-customer-review .review-heading {
    max-width: 289px;
    width: 100%;
    display: grid;
    justify-items: flex-start;
    gap: 32px;
  }
  .wd-customer-review .rating-breakdown-item:not(:last-child) {
    margin-bottom: 6px;
  }
  
  .wd-customer-review .rating-breakdown-item {
    display: flex
  ;
    align-items: center;
    gap: 10px;
  }
  .wd-customer-review .rating-breakdown-item .rating-bar {
    width: 100%;
    height: 4px;
    background-color: var(--line);
  }
  .wd-customer-review .rating-breakdown-item .value {
    background-color: var(--dark);
    height: 100%;
  }
  
  .wd-customer-review .review-item .review-avt {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;
  }
  .wd-customer-review .review-item .review-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  .wd-customer-review .review-item {
    display: flex;
    gap: 15px;
  }
  .wd-customer-review .review-item .review-content {
    display: grid;
    gap: 15px;
  }
  
  .wd-customer-review .review-heading .icon-star {
    font-size: 15px;
    color: #ff6f61;
  }
  
  .wd-customer-review .review-item .star-2 .icon {
    color: rgb(210, 210, 210);
  }
  .wd-customer-review .review-item .star-3 .icon:nth-child(1), .wd-customer-review .review-item .star-3 .icon:nth-child(2), .wd-customer-review .review-item .star-3 .icon:nth-child(3) {
    color: var(--dark);
  }
  
  .wd-customer-review .review-section {
    flex-grow: 1;
  }
  
  @media (min-width: 1200px) {
    .wd-customer-review .review-list {
        padding-bottom: 48px;
        margin-bottom: 48px;
    }
  }
  .form-review .note, .form-review .title {
    margin-bottom: 24px;
  }
  
  .text-main-4 {
      color: #818181 !important;
  }
  
  .form-review .box-rating {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
  }
  
  .list-rating-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 5px;
  }
  
  .form-review .group-2-ip {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  textarea {
    height: 160px;
    resize: none;
  }
  .list-rating-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 5px;
  }
  .list-rating-check:not(:checked) > label:before {
    font-family: "icomoon";
    content: "\e95b";
  }
  .list-rating-check:not(:checked) > label {
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap;
    width: 15px;
    color: #D2D2D2;
    transition: all 0.2s ease-in-out;
  }
  
  .list-rating-check:not(:checked) > input {
    position: absolute;
    opacity: 0;
  }
  .list-rating-check:not(:checked) > label:hover, .list-rating-check:not(:checked) > label:hover ~ label {
    color: var(--dark);
  }
  
  .list-rating-check input[type="radio"] {
    display: none;
  }
  
  .list-rating-check label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
  }
  
  .list-rating-check input[type="radio"]:checked ~ label,
  .list-rating-check label:hover,
  .list-rating-check label:hover ~ label {
    color: black;
  }
  
  .unactive-start{
    color: #D2D2D2;
  }
  
  .wd-customer-review .review-heading {
    max-width: 289px;
    width: 100%;
    display: block;
    gap: 32px;
  }
  
  .collection-filter{
    position: absolute;
    top: 42px;
    left: 0;
  }

  .Address-form-closeBtn{
    cursor: pointer;
  }

  .add-address-icon img{
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .address-home-icon img{
       width: 100px;
      height: 100px;
  }

  .invoice-icon{
    cursor: pointer;
  }


        .invoiceaTable .tblDetails tr, .invoiceaTable th {
            border: 1px solid #808080;
        }

           .invoiceaTable .tblDetails tr:last-child td {
                border-top: 0px !important;
            }


           .invoiceaTable .tblDetails tr td {
                padding: 5px;
            }

       .invoiceaTable .trClass td {
            padding: 5px !important;
        }

       .invoiceaTable table, .invoiceaTable th, .invoiceaTable td {
            /*border: 1px solid #808080;*/
            border-collapse: collapse;
            font-size: 14px;
        }

       .invoiceaTable .tblDetails tr:last-child td {
            border-bottom: 0px !important;
            /*padding: 0px;*/
        }

       .invoiceaTable .borderCls tr td, .invoiceaTable th {
            border: 1px solid #808080;
            padding-left: 5px;
            padding-right: 5px;
        }

       .invoiceaTable .borderCls tr:first-child {
            border-top: none !important;
        }

       .invoiceaTable .table-width {
            width: 1055px;
        }

        .reset-link{
          cursor: pointer;
        }

      .error{
        color: #f02917;
      }

@media (max-width:767px){
  .quick-view-modal{
    width: 100%;
  }
  .mobile-account-siderbar{
    width: 100% !important;
    max-width:none;
  }

}